@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form input,
form textarea,
form label,
button,
ul {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 95%;
}

.App {
  height: 80vh;
  width: 80vw;
  padding: 5% 10%;
}

header {
  height: 15%;
}

header h1 {
  color: #6edb8d;
  line-height: 75%;
}

header .logo-blue {
  color: #00b5ce;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 24px;
}

form label {
  font-weight: 300;
  margin: 0.6rem 0;
  color: #060e21;
  font-size: 0.9rem;
}

form input,
form .additional-req {
  background-color: #f3f3f3;
  padding: 0.5rem 0.8rem;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

form input:focus,
form .additional-req:focus {
  border: 2px solid #00b5ce;
}

form button {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 50%;
  padding: 0.5rem;
  background-color: #6edb8d;
  margin-top: 1rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

form button:hover {
  background-color: #060e21;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__form {
  width: 350px;
}

.login__form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login__form__register {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__form__register p {
  font-size: 1rem;
  text-align: center;
  color: #060e21;
  margin: 0.5rem 0;
}

.login a {
  text-align: center;
  text-decoration: none;
  margin: 0.3rem 0;
  padding: 0.6rem;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #00b5ce;
  color: #00b5ce;
  font-size: 1rem;
}

.login a:hover {
  background-color: #00b5ce;
  color: #f3f3f3;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__heading h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.register__heading a {
  font-size: 1rem;
  background: none;
  color: #00b5ce;
  text-decoration: underline;
}

.register__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 700px;
}

.register__form form .additional-req {
  height: 100px;
  word-wrap: normal;
}

.register__form form .register-submit {
  background-color: #00b5ce;
  cursor: pointer;
}

.register__form form .register-submit:hover {
  background-color: #060e21;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard__overview {
  margin-top: 2rem;
}

.dashboard__overview h2 {
  margin-bottom: 0.5rem;
}

.dashboard__grid {
  background-color: #f5f6f8;
  padding: 1rem 1rem;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  -ms-flex-line-pack: start;
      align-content: start;
}

.detailcard {
  margin-top: 2rem;
  background-color: #6edb8d;
  border-radius: 10px;
  padding: 2rem 1rem;
}

.detailcard h3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 90%;
}

.detailcard ul {
  margin: 1rem 0;
}

.detailcard ul li {
  list-style: none;
}

.detailcard p {
  padding: none;
  margin-bottom: 2rem;
}

.detailcard button {
  background: none;
  border: 2px solid #060e21;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.detailcard button:hover {
  background-color: #060e21;
  color: #f3f3f3;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.detailcard-location {
  margin-top: 0.5rem;
  font-style: italic;
}

.detailcard-subheading {
  padding-top: 1rem;
  font-style: italic;
  font-size: 0.8rem;
}

.profilecard {
  background-color: #6edb8d;
  border-radius: 10px;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profilecard h3 {
  font-weight: 300;
  font-size: 2rem;
}

.profilecard p {
  text-align: right;
}

.error {
  color: #f74646;
  font-size: 1rem;
}

.blue {
  background-color: #00b5ce;
}
/*# sourceMappingURL=styles.css.map */